.container {
  display: block;
  padding: 15px 0;
}

.name {
  margin: 0;
  font-weight: 500;
  font-size: 22px;
}

.tag {
  margin: 2px 0 0 0;
  color: gray;
  font-weight: 400;
  font-size: 15px;
}

.location {
  margin: 5px 0 0 0;
  color: gray;
  font-weight: 400;
  font-size: 18px;
}
