@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

.section {
  width: 400px;
  border: 1px solid #aaa9a9;
  text-align: center;

  margin: 5px;

  font-family: 'Titillium Web', sans-serif;
}

.title {
  color: gray;
  margin: 0;
  padding: 15px 5px;

  font-weight: 500;
}

.list {
  display: flex;
  list-style: none;

  margin: 0;
  padding: 0;
  background-color: rgb(172, 172, 172);
}
